html{
    background-color: #EAC696;
    
}
h1{
    color: #65451F;
    font-size: xx-large;
    font-family: 'Indie Flower' , cursive;
    font-weight: bold;
}
.greenhouse{
    size: 500px;
}
h2{
    color: #6C3428;
}
p{
    color: black;
}